body
{
    background-color: rgb(250, 232, 199);
    color: rgb(22, 21, 21);
    /*Removes the scroll bar on the side*/
    overflow: hidden;  
}

.container
{
    /*Set black border around the calculator*/
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    /*Set calculator to the middle of the screen*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator
{
    /*Centers the calculator*/
    margin: auto;
    /*Set black border around the calculator*/
    border: 1px solid black;
    width: 370px;
    /*Border Properties*/
    background-color: rgb(194, 179, 152);
    padding: 20px;
}

#userInput
{
    /*Prompts the input box to be fixed inside the calculator box*/
    box-sizing: border-box;
    font-size: 200%;
    width: 100%;
    height: 75px;
    text-align: right;
    direction:ltr;
}

.numsButton
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(68, 68, 68);
    color: white;
    cursor: pointer;
    font-size: 300%;
    border-radius: 100%;
    width: 75px;
    height: 75px
}

.zeroButton
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(68, 68, 68);
    color: white;
    border-radius: 20%;
    font-size: 350%;
    width: 42%;
    height: 40%;
    cursor: pointer;
}

.operations
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(245, 174, 69);
    color: white;
    font-size: 300%;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.startOver
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    border-radius: 20%;
    font-size: 200%;
    width: 31%;
    height: 62px;
    cursor: pointer;
}

.divide
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    font-size: 200%;
    border-radius: 100%;
    width: 75px;
    height: 62px;
    cursor: pointer;
}

.negate
{
    text-align: center;
    border-color: transparent;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    font-size: 190%;
    border-radius: 20%;
    width: 31%;
    height: 62px;
    cursor: pointer;
}